/* universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* element name selector */
h2 {
    color: blueviolet;
}

/* id selector */
#element2 {
    background-color: burlywood;
}

.element2ByClass {
    text-align: center;
}

/* div {
    background-color: red;
} */

/* 
#ele1 {
    background-color: red;
}

#ele2 {
    background-color: blue;
}

#ele3 {
    background-color: red;
}

#ele4 {
    background-color: blue;
}


#ele5 {
    background-color: red;
} */

.blue-element {
    background-color: blue;
}

.red-element {
    background-color: red;
}

/* class selector */
.arrange-element {
    text-align: center;
    color: white;
    font-weight: bold;
}

/* group selector */
.arrange-element, h2 {
    padding: 20px;
}

[id="ele1"] {
    background-color: yellowgreen;
}

.container {
    background-color: yellow;
    border: 2px solid black;
    margin: 5px;
}

/* Descendent Selector */
.container div {
    background-color: aqua;
}

/* Child Selector */
.container > .second-element > span{
    font-weight: bold;
    font-size: large;
    font-family: serif;
    color: brown;
}

p + h2 {
    background-color: violet;
}

p ~ span {
    background-color: tomato;
}

#element2:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}

.paragraph-text {
    padding: 10px;
    background-color: blanchedalmond;
    border: 10px solid greenyellow;
    margin: 10px;
}

.span-text {
    display: inline-block;
    padding: 10px;
    background-color: aquamarine;
    border: 10px dotted yellow;
    margin: 10px;
}

.anchor-link {
    padding: 10px;
    background-color: aquamarine;
    border: 10px dotted yellow;
}

.sample-div {
    height: 200px;
    width: 200px;
    background-color: blue;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    /* padding: 20px; */
    padding: 20px 40px;

    /* border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;
    border-color: aquamarine;
    border-style: dashed; */
    border: 20px dotted aquamarine;

    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */
    /* margin: 50px; */
    margin: 50px auto;



   
    /* 
    1rst top & bottom
    2nd left & right
    */

    /* 
     padding: 10px;
     if all sides padding is same
    */
}

.component1 {
    position:relative;
    top: 200px;
    left: 300px;
    background-color: orange;
    height: 300px;
    width: 300px;
}

.component2 {
    position:absolute;
    top: 0px;
    left: 0px;
    background-color: yellow;
    height: 200px;
    width: 50%;
    z-index: -1;
}

.sticky-componet {
    position: sticky;
    top: 0px;
    background-color: blue;
    color: aliceblue;
    width: 100%;
    font-size: large;
}


