/* universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* element name selector */
h2 {
    color: blueviolet;
}

/* id selector */
#element2 {
    background-color: burlywood;
}

.element2ByClass {
    text-align: center;
}

/* div {
    background-color: red;
} */

/* 
#ele1 {
    background-color: red;
}

#ele2 {
    background-color: blue;
}

#ele3 {
    background-color: red;
}

#ele4 {
    background-color: blue;
}


#ele5 {
    background-color: red;
} */

.blue-element {
    background-color: blue;
}

.red-element {
    background-color: red;
}

/* class selector */
.arrange-element {
    text-align: center;
    color: white;
    font-weight: bold;
}

/* group selector */
.arrange-element, h2 {
    padding: 20px;
}

[id="ele1"] {
    background-color: yellowgreen;
}

.container {
    background-color: yellow;
    border: 2px solid black;
    margin: 5px;
}

/* Descendent Selector */
.container div {
    background-color: aqua;
}

/* Child Selector */
.container > .second-element > span{
    font-weight: bold;
    font-size: large;
    font-family: serif;
    color: brown;
}

p + h2 {
    background-color: violet;
}

p ~ span {
    background-color: tomato;
}

#element2:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}